footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media a {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
}

.social-media a:hover {
  color: #ddd;
}
